<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.3.0.733" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.1.40000" targetFramework="net40" />
  <package id="Infrastructure.Behaviors" version="1.0.0.0" targetFramework="net40" />
  <package id="Infrastructure.CommonUtility" version="1.0.0.0" targetFramework="net40" />
  <package id="Infrastructure.Core" version="3.0.0.0" targetFramework="net40" />
  <package id="Microsoft.Enterprise.Library" version="5.0" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="Oracle.DataAccess" version="2.111.6.0" targetFramework="net40" />
</packages>