<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CipEntitiesConfig" connectionString="metadata=
         res://*/EntityFrameworkModel.csdl|
         res://*/EntityFrameworkModel.ssdl|
         res://*/EntityFrameworkModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source={[(TOKEN)]};initial catalog=CIP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="CoreEntitiesConfig" connectionString="metadata=
         res://*/CommonEntityModel.csdl|
         res://*/CommonEntityModel.ssdl|
         res://*/CommonEntityModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source={[(TOKEN)]};initial catalog=POC_EDW_RPT_CORE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<customErrors mode="On" />-->
    <!--localDebugging-->
    <customErrors mode="RemoteOnly" />
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ConfigInterp.ServiceLibrary.ConfigInterpService" behaviorConfiguration="ServiceBehavior">
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:2344/" />
          </baseAddresses>
        </host>-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpServiceBinding" behaviorConfiguration="coreLinkEndpointBehavior" contract="ConfigInterp.Contracts.IConfigInterpService" />
        <endpoint address="mex" binding="basicHttpBinding" bindingConfiguration="basicHttpServiceBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="coreLinkEndpointBehavior">
          <coreLinkHeaderBehavior version="v0_2" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <coreLinkExceptionBehavior version="v1" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="coreLinkExceptionBehavior" type="CoreLink.Core.ErrorHandling.CoreExceptionBehaviorExtensionElement, CoreLink.Core" />
        <add name="coreLinkHeaderBehavior" type="CoreLink.Core.Headers.MessageHeaderBehaviorExtensionElement, CoreLink.Core" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <!--<diagnostics>
      <messageLogging
         logEntireMessage="true"
         logMalformedMessages="false"
         logMessagesAtServiceLevel="true"
         logMessagesAtTransportLevel="false"
         maxMessagesToLog="3000"
         maxSizeOfMessageToLog="2000"/>
    </diagnostics>-->
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All"
        propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Logs\ConfigInterp.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CoreLink.Core" publicKeyToken="e699bb424e0c0adf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.15139.11" newVersion="3.0.15139.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>