<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infrastructure.CommonUtility" version="1.0.0.0" targetFramework="net40" />
  <package id="Infrastructure.DescriptionMaster.DA" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.HostIntegration.TI.ClientContext" version="8.0.3608.0" targetFramework="net40" />
  <package id="TI.BMNARR" version="1.0.0" targetFramework="net40" />
  <package id="TI.CIPINQ01" version="1.0.9" targetFramework="net40" />
  <package id="TI.CIPUPD01" version="1.0.5" targetFramework="net40" />
  <package id="TI.CSDCM" version="5.0.0" targetFramework="net40" />
</packages>