<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="CipEntities" connectionString="metadata=res://*/EntityFrameworkModel.csdl|res://*/EntityFrameworkModel.ssdl|res://*/EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLSQLBB01-D.corelinkadmin.com;initial catalog=CIP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreEntities" connectionString="metadata=res://*/CommonEntityModel.csdl|res://*/CommonEntityModel.ssdl|res://*/CommonEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLSQLBB01-D.corelinkadmin.com;initial catalog=POC_EDW_RPT_CORE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CoreLink.Core" publicKeyToken="e699bb424e0c0adf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.15139.11" newVersion="3.0.15139.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="CipEntitiesConfig" connectionString="metadata=
         res://*/EntityFrameworkModel.csdl|
         res://*/EntityFrameworkModel.ssdl|
         res://*/EntityFrameworkModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source={[(TOKEN)]};initial catalog=CIP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"/>
    <add name="CoreEntitiesConfig" connectionString="metadata=
         res://*/CommonEntityModel.csdl|
         res://*/CommonEntityModel.ssdl|
         res://*/CommonEntityModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source={[(TOKEN)]};initial catalog=POC_EDW_RPT_CORE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>