<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConfigInterpService" />
                <binding name="BasicHttpBinding_IConfigInterpService1" />
                <binding name="BasicHttpBinding_IConfigInterpService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://researchbbms2svc.corelinkadmin.com/ConfigInterpService/ConfigInterpService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigInterpService"
                contract="ResearchService.IConfigInterpService" name="BasicHttpBinding_IConfigInterpService" />
            <endpoint address="http://localhost:2344/ConfigInterpService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigInterpService1"
                contract="LocalService.IConfigInterpService" name="BasicHttpBinding_IConfigInterpService1" />
            <endpoint address="http://testbbms2svc.corelinkadmin.com/ConfigInterpService/ConfigInterpService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigInterpService2"
                contract="TestService.IConfigInterpService" name="BasicHttpBinding_IConfigInterpService2" />
        </client>
    </system.serviceModel>
</configuration>